body{
    background-color : green;
    margin : auto;
    width: 85%;
}

h1{
    text-align : center;
    background-color : orangered;
    color : black;
    border-radius: 5px;
}

div.bilan {
    background-color: orangered;
    font-size: 20;
    font-family: "Open Sans", sans-serif;
    font-weight: bold ;  
    padding: 10px 20px 10px 40px;
    display: inline-block;
    border-radius: 5px;
}

ul {
    padding:0px;
}

.vert{
    color: green;
}

a{text-decoration: none;}